body {
    background-color: darkcyan;
    color: lightgreen;
}

header {
    padding: 6.5rem 0 0 0;
    text-align: center;

    h1 {
        font-size: 3rem;
    }
}

main {
    padding: 0 0 6rem 0;
}